.banner{
	background: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
    height: 400px;
    margin-top: 45px;
}

.container{
	margin-top: 0px;
}

.navbar{
    margin-bottom: 0;
    width: 100%;
	/*background-color: #222; */
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;

}

.signup{
    background: url(../img/white_logowallpaper.jpg);
	margin-top: 15px;
	padding-bottom: 15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #bc2f40;
    border-color: #fff;
}

.img-responsive.logo {
    height: auto;
    width: 100px;
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4{
	font-size: 14px;
	color: #bc2f40;
	text-transform: uppercase;
	font-weight: 700;
}

h3{
	font-size: 14px;
	color: #bc2f40;
	text-transform: uppercase;
	margin-top: 35px;
	font-weight: 700;
}

.banner p{
	font-size: 14px;
	color: #999999;
	margin-top: 25px;
	line-height: 1;
	font-weight: 600;
}

ul {
    padding-left: 0px;
}

li{
	list-style: none;
}

.details ul li {
    font-size: 18px;
    color: #1b1b1b;
}

.details ul li i.fa {
    font-size: 20px;
    color: #bc2f40;
    height: 30px;
    width: 30px;
    padding-left: 0px;
}

.details p {
    font-size: 18px;
    color: #999999;
    margin: 30px 0;
}

.btn {
    white-space: normal;
    padding: 3px;
    height: 50px;
}

.download-btn{
	width: 180px;
	height: 50px;
	background: #bc2f40;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 4px;
	border:0;
	margin-top: 30px;
	margin-right: 15px;
	font-weight: 600;
}

.features-btn{
	width: 180px;
	height: 50px;
	border-radius: 4px;
	border:0;
	text-transform: uppercase;
	color: #fff;
	background: #6ca3ca;
	font-size: 14px;
	margin-top: 30px;
	/*margin-bottom: 105px;*/
	font-weight: 600;
}

.feature-detail{
	margin-top: 0px;
	background: #eee;
}

.feature-detail ul li i.fa {
    font-size: 20px;
    color: #bc2f40;
    height: 30px;
    width: 30px;
    padding-left: 0px;
}

.feature-detail p {
    font-size: 18px;
    color: #999999;
    margin: 30px 0;
	text-align: left;
}

.feature-detail ul li {
    font-size: 18px;
    color: #1b1b1b;
}

.img-feature {
	height: 450px;
	width:auto;
}

.footer {
	height: 35px;
	margin-top: 15px;
}